body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#ff9a9e,#fad0c4);
    color:#333;
}

/* START */
.start-screen{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.start-screen h1{
    color:white;
    font-size:32px;
}

.start-screen button{
    padding:15px 30px;
    border:none;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
    background:white;
    color:#ff4d6d;
    margin-top:20px;
}

/* MAIN */
.hidden{display:none;}

header{
    text-align:center;
    padding:30px;
    color:white;
}

.subtitle{
    opacity:0.9;
}

.card{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

button{
    padding:10px 20px;
    border:none;
    border-radius:20px;
    background:#ff4d6d;
    color:white;
    cursor:pointer;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}

.gallery img{
    width:100%;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:20px;
    color:white;
}
